/* Style for all html page */
html {
  background-color: #eeeeee;
  font-family: sans serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 1000px;
}

/* Navigation (position TOP) style */
.navigation-style {
  margin-left: 0px;
  font-size: 13px;
  line-height: 1;
  font-family: sans serif;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* h1 text style */

h1 {
  font-family: sans serif;
  letter-spacing: -0.5px;
  color: #525f64;
  text-align: center;
  font-size: 1.1em;
  font-weight: 1000;
  margin-bottom: 1.4em;
}

h2 {
  font-family: sans serif;
  letter-spacing: -0.9px;
  color: #525f64;
  font-size: 25px;
  font-weight: 1000;
}

/* Login style */

.login-style {
  margin-top: 130px;
  margin-right: 0px;
  margin-left: 50px;
  margin-bottom: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding: 30px;
  border: #e2e2e2 1px solid;
}

.login-form-style {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
  width: 100%;
  border: #e2e2e2 1px solid;
  font-weight: 400;
  font-size: 14px;
  font-family: sans serif;
  display: inline-block;
  opacity: 1;
}

.login-form-style:hover {
  opacity: 1;
  background: rgba(145, 145, 145, 0.2);
}

/* Login-Buttons */
.login-button {
  width: 50%;
  font-weight: 600;
  font-size: 14px;
  font-family: sans serif;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

/* all buttons */

button {
  font-size: 14px;
  font-weight: 600;
  font-family: sans serif;
}

.admin-button-style {
  width: 160px;
}

.document-button-style {
  width: 160px;
}

h3,
table,
h6 {
  font-family: sans serif;

  color: #4d4d33;
  padding-top: 5px;
}

h5,
.second-navigation {
  font-family: sans serif;

  color: #4d4d33;
  padding-top: 5px;
  font-size: 10px;
}

.table-style-rounded {
  border-collapse: collapse;
  border-radius: 8px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 5px 0 0px -1px rgb(94, 94, 94); /* this draws the table border  */
}

.logo {
  filter: brightness(0) invert(0.5);
}

.Table-number-style {
  background-color: rgb(56, 56, 56);
  border-top-left-radius: 8px;

  color: white;
}

.users-table-number-style {
  background-color: rgb(56, 56, 56);
  border-top-left-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;

  font-weight: 600;
  line-height: 1.5;
}

.users-padding-bottom {
  padding-bottom: 15px;
}

.users-table-middle-style {
  background-color: rgb(56, 56, 56);

  padding-top: 10px;
  padding-bottom: 10px;
  color: white;

  font-weight: 600;
  line-height: 1.5;
}

.users-table-action-style {
  background-color: rgb(56, 56, 56);
  border-top-right-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;

  font-weight: 600;
  line-height: 1.5;
}

.Table-action-style {
  background-color: rgb(56, 56, 56);
  border-top-right-radius: 8px;

  color: white;
}

.table-middle-style {
  background-color: rgb(56, 56, 56);

  color: red;
}

.table-action-size {
  font-size: 14px;
}

.username-table-action-size {
  font-size: 14px;
  padding-top: 10px;
}

.padding-normal {
  padding-bottom: 15px;
}

.logo:hover {
  filter: brightness(0) invert(0.8);
}

.logo-info {
  position: relative;
  display: inline-block;
}

.logo-info .tooltiptext {
  font-size: 10px;
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
  opacity: 0.5;

  position: absolute;
  z-index: 1;
  transition: 0.5s ease;
}

.logo-info:hover .tooltiptext {
  visibility: visible;
}

.picture-padding {
  max-width: 100%;
  height: auto;
  width: auto\9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 30px;

  /*
  -webkit-transition: 1.3s ease-in-out;
  transition: 1.5s ease;
  transition-delay: 0.5s;
  */
}

/*
.picture-padding:hover {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1.5s ease;
  transition-delay: 0.5s;
}
*/

.table tr {
  text-align: left;
  vertical-align: middle;
}

.normal-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.second-navigation-style {
  background-color: #dcdcdc;
  border-radius: 5px;
  border-right: 4px solid rgb(94, 94, 94);
  margin-bottom: 20px;
}

.italic-style-small {
  font-family: sans serif;
  font-size: 11px;
  color: #4d4d33;
  padding-top: 5px;
  font-style: italic;
}

/*.italic-style-ORIGIN {
  font-family: sans serif;
  font-size: 12px;
  color: #4d4d33;
  padding-top: 5px;
  font-style: italic;
}

*/

.italic-style {
  width: 100%;
  border: #e2e2e2 1px solid;
  font-weight: 400;
  font-size: 14px;
  font-family: sans serif;
  display: inline-block;
  opacity: 1;
}

.italic-style:hover {
  opacity: 1;
  background: rgba(145, 145, 145, 0.2);
}

.footer {
  background-color: #858583;
  color: white;
  text-align: center;

  position: absolute;
  bottom: 0;
  width: 100%;
  transition: 0.33s linear;
  height: 40px;
  font-family: sans serif;
  font-size: 11px;
  font-style: italic;
  display: table;
  padding-top: 13px;
  border-radius: 5px;
}

.footer:hover {
  background: rgb(63, 63, 63);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  word-wrap: break-word;
}

body::after {
  content: "";
  display: block;
  height: 30px;
}

/* ----------------------------------- 

#sidebar {
  border-top: 1px solid black;

  padding: 30px;

  background: #343434;

  position: absolute;

  top: 0;

  left: 0;

  bottom: 0;

  height: 100%;
}

.sidebar-style {
  padding-left: 0px;
  margin-left: 0px;
}


#container {
  display: table;
}

#main {
  display: table-cell;
  vertical-align: top;
}

#sidebar {
  display: table-cell;
  vertical-align: top;
  padding: 30px;
}
*/
.sidebar-style a {
  /*padding: 8px 8px 8px 32px; */

  text-decoration: none;
  font-size: 11px;
  color: #383838;
  display: block;
  /*transition: 0.6s; */
  padding-bottom: 25px;
  font-family: sans serif;
  width: 150px;
}

.sidebar-style a:hover {
  color: rgb(17, 17, 17);

  border-radius: 10px;
  /*padding-left: 10px; */
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  border-right: 2px solid rgb(172, 172, 172);
  font-weight: 800;
}

.sb-style {
  padding-left: 0px;
  padding-bottom: 0px;
  margin: 0px;

  background-color: #ffffff;
}

#side-bar-box {
  display: none;
}
#side-bar-container #side-bar-appear {
  display: none;
}
#side-bar-box:checked + #side-bar-container #side-bar-appear {
  background-color: #e2e2e2;
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  width: 180px;
  height: 500px;
  border-radius: 5px;
  border-right: 5px solid rgb(94, 94, 94);
}

#Document-type-box {
  display: none;
}
#Document-type-container #Document-type-bar-appear {
  display: none;
}
#Document-type-box:checked
  + #Document-type-container
  #Document-type-bar-appear {
  display: block;
}

#Document-type-container {
  width: 100%;
}

.container {
  width: 100%;
  display: block;
}

.collapsed-style {
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  border-right: 5px solid rgb(202, 202, 202);
  padding: 20px;

  font-family: sans serif;
}

.collapsed-style2 {
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  border-right: 5px solid rgb(202, 202, 202);

  min-width: 1000px;
  font-family: sans serif;
}

.table-action-styl2 {
  width: 10px;
}

/*
.navigation-bar-press-line {
  
  border-left: 22px solid #cccccc; 
  height: 500px; 
}
*/

.side-bar-logo {
  width: 40px;
  height: 40px;
}

.side-bar-logo:hover {
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
}
