/* Navigation (position TOP) style */
.navigation-style {
  margin-left: 0px;
  font-size: 11px;
  line-height: 1;
  font-family: sans serif;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

/* h1 text style */

h1 {
  font-family: sans serif;
  letter-spacing: -0.5px;
  color: #525f64;
  text-align: center;
  font-size: 1.1em;
  font-weight: 1000;
  margin-bottom: 1.4em;
}

/* Login style */

.login-style {
  margin-top: 130px;
  margin-right: 0px;
  margin-left: 50px;
  margin-bottom: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding: 30px;
  border: #e2e2e2 1px solid;
}

.login-form-style {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
  width: 100%;
  border: #e2e2e2 1px solid;
  font-weight: 400;
  font-size: 14px;
  font-family: sans serif;
  display: inline-block;
}

/* Login-Buttons */
.login-button {
  width: 50%;
  font-weight: 600;
  font-size: 14px;
  font-family: sans serif;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

/* all buttons */

button {
  font-size: 14px;
  font-weight: 600;
  font-family: sans serif;
}

h3,
table,
h6 {
  font-family: sans serif;

  color: #4d4d33;
  padding-top: 5px;
}

h5,
.explorer {
  font-family: sans serif;

  color: #4d4d33;
  padding-top: 5px;
  font-size: 9px;
}

html {
  background-color: #e6e6e6;

  font-family: sans serif;

  color: rgba(0, 0, 0, 0.5);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 0px;
}

.logo {
  filter: brightness(0) invert(1);
}

.picture-padding {
  max-width: 100%;
  height: auto;
  width: auto\9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 30px;
}

.table tr {
  text-align: left;
  vertical-align: middle;
}

.normal-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.gray-collor {
  background-color: #dcdcdc;
}

.italic-style-small {
  font-family: sans serif;
  font-size: 11px;
  color: #4d4d33;
  padding-top: 5px;
  font-style: italic;
}

.italic-style {
  font-family: sans serif;
  font-size: 12px;
  color: #4d4d33;
  padding-top: 5px;
  font-style: italic;
}

.footer {
  background-color: #858583;
  color: white;
  text-align: center;

  position: absolute;
  bottom: 0;
  width: 100%;
  transition: 0.33s linear;
  height: 40px;
  font-family: sans serif;
  font-size: 11px;
  font-style: italic;
  display: table;
  padding-top: 13px;
}

.footer:hover {
  background: rgb(63, 63, 63);
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 100px;
}
