.navigation-style {
  margin-left: 0px;
  font-size: 11px;
  line-height: 1;

  font-family: Jura;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

h3,
h6,
table {
  font-family: Jura;

  color: #4d4d33;
  padding-top: 5px;
}

h5,
.explorer {
  font-family: Jura;

  color: #4d4d33;
  padding-top: 5px;
  font-size: 9px;
}

html {
  background-color: #dcdcdc;

  font-family: Jura;

  color: rgba(0, 0, 0, 0.5);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  filter: brightness(0) invert(1);
}

.login-style {
  padding-top: 250px;
  padding-right: 150px;
  padding-left: 50px;
  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.picture-padding {
  max-width: 100%;
  height: auto;
  width: auto\9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

.table tr {
  text-align: left;
  vertical-align: middle;
}

.normal-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.gray-collor {
  background-color: #dcdcdc;
}

.italic-style-small {
  font-family: Jura;
  font-size: 11px;
  color: #4d4d33;
  padding-top: 5px;
  font-style: italic;
}
.italic-style,
input {
  font-family: Jura;
  font-size: 12px;
  color: #4d4d33;
  padding-top: 5px;
  font-style: italic;
}

/* html {
  background: url(../images/fire.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 50px;
  margin-left: 50px;
}

body {
  height: 100%;
}


*/
